<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>fffff</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
ola
    <section id="teste"></section>
<script>
    xhr = new XMLHttpRequest();
    xhr.open("GET", "/list");
    xhr.send(null);
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("teste").innerHTML = xhr.response;
        }
    }
</script>

</body>
</html>