body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 10vh 36vh 37vh 17vh;
}
header{
    background-color: white;
    grid-column: 1/6;

}
#fotos{
    grid-column: 1/6;

}
#fotos img{
    width: 100%;
    height: 100%;
}
#conteudo{
    grid-column: 1/6;
    background-color: white;
}

footer{
    background-color: rgb(1,22,39);
    grid-column: 1/6;
    font-family: arial;
    font-size: 15px;
    color: white;
}
#teste{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


#container-header{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
#img_logo{
    width: 130px;
    height: 60px;
    padding-left: 200px;
}

.produto{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: center;


}
#idiomas,#login{
    display: flex;
    justify-content: flex-end;
}
#idiomas img{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
#login img{
    width: 25px;
    height: 25px;
}

#informar img{
     width: 25px;
    height: 25px;


}

#informar,#login{
    margin-top: 10px;
}
#informar{
    margin-left: 70px;
}
#login{
    margin-left: 130px;
}

.produto img {
    width: 90px;
    height: 90px;
    margin-top: 34px;
}
.produto h1,p{
    font-family: arial;
    font-size: 7pt;
}